{% if site.config.mode == "production" %}
<script>var _gaq = [['_setAccount', 'UA-27119715-3'], ['_trackPageview', window.location.href]];</script>
<script src="http://www.google-analytics.com/ga.js" async></script>
{% endif %}
