<!doctype html>
<html lang="en">
<head>
  {% block starthead %}{% endblock starthead %}
  <meta charset="{{ resource.meta.charset }}">

  <title>{% block title %}{{ resource.meta.title }}{% endblock %}</title>
  <meta name="description" content="{{ resource.meta.description }}">
  <meta name="author" content="{{ resource.meta.author }}">


  <meta name="viewport" content="{{ resource.meta.viewport }}">

  {% block favicons %}
  <link rel="shortcut icon" href="{{ media_url('/favicon.ico') }}">
  <link rel="apple-touch-icon" href="{{ media_url('/apple-touch-icon.png') }}">
  {% endblock favicons %}

  {% block css %}
  <link rel="stylesheet" href="{{ media_url('css/site.css') }}">
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  {% endblock css %}

  {% block headjs %}

  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% endblock headjs %}
  {% block endhead %}{% endblock endhead %}
</head>
<body id="{{ resource.meta.id if resource.meta.id else resource.slug }}">
  {% block content %}
  <div id="container">
      {% block container %}
      <div id="main" role="main">
          <header class="banner clearfix">
          {% block header -%}
            <h1><a href="http://alexnormand.com">Alex Normand</a></h1>
            <h3>alexnormand.com</h3>
          {%- endblock %}          
          </header>
          <div id="mainmain">
	  {% block nav %}
          {% from "macros.j2" import render_nav with context %}
          {{ render_nav(menu, 'main_nav') }}
          {% endblock %}
          <section class="content">	    
          {% block main %}
          {% endblock main %}
          </section>

      </div>
      </div>
    {% endblock container %}
  </div> <!--! end of #container -->
  <footer>
      Powered by 
          <a href="https://github.com/hyde/hyde">hyde</a> & 
          <a href="http://code.google.com/appengine/" title="google app engine" >
             <span id="appengine">google app engine</span>
          </a>
  </footer>
  {% endblock content%}
  {% block js %}

  {% block jquery %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>                
  {% endblock jquery %}

<script type="text/javascript" src="http://cdn.sublimevideo.net/js/4o1c21f8.js"></script>
 <script src="{{ media_url('js/s.js') }}"></script>
 <!--[if lt IE 9]>
     <script async src="{{ media_url('js/libs/respond.min.js') }}"></script>
 <!endif]-->

  {% block scripts %}
  {% endblock scripts %}

  {% block analytics %}
  {% include "analytics.j2" %}
  {% endblock analytics %}

  {% endblock js %}
</body>
</html>
