.animated
  animation-fill-mode: both
  animation-duration: 1s
  animation-timing-function: ease-in-out

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

.fadeIn
  animation-name: fadeIn


@keyframes appengineTumble
  0%
    transform: rotate(0deg)

  50%
    transform: rotate(360deg)

@keyframes tumbleMe
  0%
    transform: rotate(0deg)
    backface-visibility: hidden

  50%
    border-radius: 25%

  100%
    transform: rotate(720deg)
