.animated 
  animation-fill-mode: both
  animation-duration: 1s
  animation-timing-function: ease-in-out


@keyframes fadeInLeft 
  0% 
    opacity: 0
    transform: translateX(-200px) rotate(-5deg)

  50%
    transform: translateX(30px)
    
  100% 
    opacity: 1
    transform: translateX(0) rotate(0deg)
  

.fadeInLeft 
  animation-name: fadeInLeft


@keyframes appengineTumble
  0%
    transform: rotate(0deg)

  50%
    transform: rotate(360deg)


